<template>
	<div class="container">
		<div class="row post-row">
			<div class="col-lg-4 mob-mb-4" v-for="post in posts">
        <div class="card bg-primary text-white px-0 py-0 overflow-hidden">
  				<picture>
            <source :srcset="post.featuredwebp" type="image/webp"/> 
            <source :srcset="post.featured" :type="post.mimetype"/> 
            <img :src="post.featured" :type="post.mimetype" :alt="post.title" class="lazy w-100 h-auto" width="460" height="322" />
          </picture>
          <div class="p-4">
    				<p class="text-small mb-2"><b>{{niceDate(post.created_at)}}</b></p>
            <p class="text-large mb-2 line-height-1-3 text-title"><b>{{post.title.substring(0,80)}}...</b></p>
            <p class=" mb-3 text-small">{{post.excerpt.substring(0, 125)}}...</p>
            <p class="mb-0"><a :href="'/news/' +moment(post.created_at) +'/'+ post.slug"><b>Read Article</b> <i class="fa fa-angle-double-right"></i></a></p>
          </div>
        </div>
      </div>
		</div>
	</div>
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      posts: [],
      limit: 3,
      page: 1,
      category: "*",
      loadmore: true,
    }
  },
  mounted(){
    this.getPosts();
  },
  methods: {
  	getExtension(d){
      if (d > 3 && d < 21) return 'th';
      switch (d % 10) {
        case 1:  return "st";
        case 2:  return "nd";
        case 3:  return "rd";
        default: return "th";
      }
    },
    niceDate: function (date) {
      var newdate = new Date(date);
      var thedate = newdate.getDate();
      var extension = this.getExtension(thedate);
      var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
      // return moment(date).format('Do MMM YYYY');
    },
    moment: function (date) {
      var newdate = new Date(date);
      var thedate = newdate.getDate();
      var extension = this.getExtension(thedate);
      var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
      // return moment(date).format('Do MMM YYYY');
    },
    changeCategory(val){
      this.category = val;
      this.getPosts();
    },
    loadMore(){
      this.page++;
      this.morePosts();
    },
    getPosts(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/news/get?limit=' + this.limit + '&page=' + page + '&category=' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.posts = response.data.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  .post-row{
    p.mimic-h3{
      font-size: 2.6rem;
    }
  }
  @media only screen and (max-width : 767px){
    .post-row{
      p.mimic-h3{
        font-size: 7vw;
      }
    }
  }
</style>