<template>
  <div class="container pt-3 ">
    <div class="row posts-row pb-5 mob-py-0" v-if="posts.length > 0">
      <div class="col-lg-4 mb-4" v-for="post in posts">
        <a :href="'/news/' +moment(post.created_at) +'/'+ post.slug">
          <div class="card transition post-card text-dark px-0 py-0 overflow-hidden">
            <div class="image-container" style="height: 280px; overflow: hidden; position: relative;">
              <picture style="width: 100%; height: 100%;">
                <source :srcset="post.normalwebp" type="image/webp"/> 
                <source :srcset="post.normal" :type="post.mimetype"/> 
                <img :src="post.normal" :type="post.mimetype" :alt="post.title" 
                     class="lazy w-100" width="460" height="322" 
                     style="object-fit: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%;" />
              </picture>
            </div>
            <div class="post-box-info p-3 pt-4">
              <p class="text-smallest text-title text-primary text-uppercase letter-spacing mb-1"><b>{{niceDate(post.created_at)}}</b></p>
              <p class="mb-2 post-box-title text-title"><b>{{post.title.substring(0,72)}}...</b></p>
              <p class="mb-3 text-small">{{post.excerpt.substring(0, 80)}}...</p>
              <p class="mb-0 post-box-read text-primary"><b>Read Article</b> <img src="/img/icons/arrow-red-short.svg" alt="read news article arrow" width="27" height="17" class="post-box-read-arrow transition" /></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row posts-row py-5" v-else>
      <div class="col-lg-6">
        <p class="mimic-h3 mb-3">Sorry, no news articles found</p>
        <p>There were no news articles found using the filters you selected, please change your filters and try again.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  .posts-row{
    min-height: 522px;
  }
  .post-card{
    border-radius: 0;
    box-shadow: none !important;
    .post-box-info{
      min-height: 250px;
    }
    p.post-box-title{
      font-size: 1.2rem;
    }
    .post-box-read{
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      width: auto;
      display: inline-block;
      .post-box-read-arrow{
        position: absolute;
        right: -40px;
        top: 6px;
      }
    }
    &:hover{
      box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2) !important;
      .post-box-read{
        .post-box-read-arrow{
          right: -55px;
        }
      }
    }
  }
  @media only screen and (max-width: 767px){
   
  }
</style>