<template>
  <div class="container-fluid position-relative z-2 mob-mb-0">
    <div class="row">
      <div class="container half_col position-relative z-2 ">
       	<div class="search-holder">
          <input type="text" name="search" class="form-control" placeholder="Search..." v-model="search" v-debounce:300ms="getResources"/>
        </div>
      </div>
      <div class="container-fluid bg-primary py-4 mt-5">
      	<div class="row">
      		<div class="container d-none d-lg-block">
      			<div class="row">
      				<div class="col-12">
      					<p class="text-white text-small mb-4"><b>Click a category</b> below to filter</p>
      				</div>
      			</div>
      			<div class="row text-center">
      				<div class="col-lg">
      					<div class="category-change" @click="changeCategory('*')" :class="{'text-white': (category == '*')}">
	      					<img src="/img/icons/resources/resources.svg" alt="All Resources" width="50" height="50" class="mb-2" :class="{'d-none': category !='*'}" />
	      					<img src="/img/icons/resources/resources-dark.svg" alt="All Resources" width="50" height="50" class="mb-2" :class="{'d-none': category =='*'}" />
	      					<p class="text-uppercase title text-small ">All Resources</p>
	      				</div>
	      			</div>
	      			<div class="col-lg">
      					<div class="category-change" @click="changeCategory('1')" :class="{'text-white': (category == '1')}">
	      					<img src="/img/icons/resources/co-production.svg" alt="Co-production" width="50" height="50" class="mb-2" :class="{'d-none': category !='1'}" />
	      					<img src="/img/icons/resources/co-production-dark.svg" alt="Co-production" width="50" height="50" class="mb-2" :class="{'d-none': category =='1'}" />
	      					<p class="text-uppercase title text-small ">Co-production</p>
	      				</div>
	      			</div>
	      			<div class="col-lg">
      					<div class="category-change" @click="changeCategory('2')" :class="{'text-white': (category == '2')}">
	      					<img src="/img/icons/resources/guidance.svg" alt="Guidance" width="50" height="50" class="mb-2" :class="{'d-none': category !='2'}" />
	      					<img src="/img/icons/resources/guidance-dark.svg" alt="Guidance" width="50" height="50" class="mb-2" :class="{'d-none': category =='2'}" />
	      					<p class="text-uppercase title text-small ">Guidance</p>
	      				</div>
	      			</div>
	      			<div class="col-lg">
      					<div class="category-change" @click="changeCategory('3')" :class="{'text-white': (category == '3')}">
	      					<img src="/img/icons/resources/ethics.svg" alt="Ethics" width="50" height="50" class="mb-2" :class="{'d-none': category !='3'}" />
	      					<img src="/img/icons/resources/ethics-dark.svg" alt="Ethics" width="50" height="50" class="mb-2" :class="{'d-none': category =='3'}" />
	      					<p class="text-uppercase title text-small ">Ethics</p>
	      				</div>
	      			</div>
	      			<div class="col-lg">
      					<div class="category-change" @click="changeCategory('4')" :class="{'text-white': (category == '4')}">
	      					<img src="/img/icons/resources/collegiate-shared-resources.svg" alt="Collegiate Shared Resources" width="50" height="50" class="mb-2" :class="{'d-none': category !='4'}" />
	      					<img src="/img/icons/resources/collegiate-shared-resources-dark.svg" alt="Collegiate Shared Resources" width="50" height="50" class="mb-2" :class="{'d-none': category =='4'}" />
	      					<p class="text-uppercase title text-small ">Collegiate Resources</p>
	      				</div>
	      			</div>
	      			<div class="col-lg">
      					<div class="category-change" @click="changeCategory('5')" :class="{'text-white': (category == '5')}">
	      					<img src="/img/icons/resources/payment.svg" alt="Payment" width="50" height="50" class="mb-2" :class="{'d-none': category !='5'}" />
	      					<img src="/img/icons/resources/payment-dark.svg" alt="Payment" width="50" height="50" class="mb-2" :class="{'d-none': category =='5'}" />
	      					<p class="text-uppercase title text-small ">Payment</p>
	      				</div>
	      			</div>
              <div class="col-lg">
      					<div class="category-change" @click="changeCategory('7')" :class="{'text-white': (category == '7')}">
	      					<img src="/img/icons/resources/teaching.svg" alt="PPI In Teaching" width="50" height="50" class="mb-2" :class="{'d-none': category !='7'}" />
	      					<img src="/img/icons/resources/teaching-dark.svg" alt="PPI In Teaching" width="50" height="50" class="mb-2" :class="{'d-none': category =='7'}" />
	      					<p class="text-uppercase title text-small ">PPI In Teaching</p>
	      				</div>
	      			</div>
      			</div>
      		</div>
      		<div class="container d-lg-none">
      			<p class="text-white text-small mb-2"><b>Choose a category</b> below to filter</p>
      			<div class="select-holder">
      				<select class="form-control" name="category" v-model="category" @change="getResources">
			          <option value="*">Any Category</option>
			          <option value="1">Co-production</option>
			          <option value="2">Guidance</option>
			          <option value="3">Ethics</option>
			          <option value="4">Collegiate Resources</option>
			          <option value="5">Payment</option>
			          <option value="7">PPI In Teaching</option>
			        </select>
			      </div>
      		</div>
      	</div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="loading" v-if="success == false">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Loading Resources...</p>
      </div>
      <resources-show :resources="resources" :loadmore="loadmore" @loadmore="loadMore()" v-else></resources-show>
    </div>
  </div>  
</template>
<script>
export default {
  props: {
    categories: Array, 
  },
  data() {
    return {
      category: '*',
      categoryname: "All Resources",
      search: '',
      errors: {},
      success: false,
      loaded: true,
      resources: [],
      limit: 12,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getResources();
  },
  methods: {
  	changeCategory(cat){
  		this.category = cat;
  		if(cat == '*'){
  			this.categoryname = "All Resources";
  		}else if(cat == '1'){
  			this.categoryname = "Co-Production";
  		}else if(cat == '2'){
  			this.categoryname = "Guidance";
  		}else if(cat == '3'){
  			this.categoryname = "Ethics";
  		}else if(cat == '4'){
  			this.categoryname = "Research Proposals";
  		}else if(cat == '5'){
  			this.categoryname = "Payment";
  		}else if(cat == '7'){
  			this.categoryname = "PPI In Teaching";
  		}
  		this.getResources();
  	},
    loadMore(){
      this.page++;
      this.moreResources();
    },
    moreResources(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/resource-hub/get?limit=' + this.limit + '&page=' + page + '&category=' + this.category + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.resources.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.resources);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    getResources(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/resource-hub/get?limit=' + this.limit + '&page=' + page + '&category=' + this.category + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.resources = response.data.data;
          this.success = true;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  .search-holder{
    position: relative;
    border: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid #000;
    input{
      border-radius: 0;
      appearance: none;
      padding: 0;
      color: #000;
      font-weight: 300;
      font-size: 20px;
      z-index: 1;
      height: 50px;
      background: none;
      position: relative;
      border: 0;
      &:focus{
        background-color: transparent;
      }
    }
    &:after{
      content: '\f002';
      font-family: 'FontAwesome';
			width: 20px;
	    font-size: 20px;
	    position: absolute;
	    right: 0;
	    top: 9px;
	    z-index: 0;
    }
  }
  .loading{
    height: 987px;
    width: 100%;
    position:relative;
    .lds-roller{
      position: absolute;
      top: 50px;
      left: calc(50% - 32px);
    }
    .loading-text{
      position: absolute;
      top: calc(50px + 75px);
      left: 0;
      width: 100%;
    }
  }
  .category-change{
  	cursor: pointer;
  	color: #000;
  	p{
  		cursor: pointer;
  	}
  	&.text-white{
  		position: relative;
  		&:after{
  			content: "";
  			position: absolute;
  			bottom: -65px;
  			width: 50px;
  			height: 50px;
  			background-color: #E30613;
  			left: calc(50% - 25px);
  			transform: rotate(45deg);
  		}
  	}
  }
</style>