<template>
  <div class="container pt-3 mob-pt-0">
    <div class="row pb-5" v-if="resources.length > 0">
      <div class="col-lg-3 col-md-4 mb-4" v-for="(resource, index) in resources">
        <a :href="resource.link" target="_blank" v-if="resource.link">
          <div class="card resource-card border-0 shadow text-white" :style="'background-color:'+resource.document_category.colour">
            <div class="p-4 resource-summary text-left">
              <p class="mb-2 resource-title text-title">{{resource.name}}</p>
              <p class="mb-2 text-one" v-if="getTrimmedExcerpt(resource.name, resource.excerpt) !== resource.excerpt">{{getTrimmedExcerpt(resource.name, resource.excerpt)}}</p>
              <p class="mb-2 text-one" v-else>{{resource.excerpt}}</p>
              <p class="download-resource mb-0"><i class="fa fa-link ml-2"></i> Visit Link</p>
            </div>
          </div>
        </a>
        <a :href="'/resource-hub/' + resource.id + '/' + resource.slug" target="_blank" v-else>
          <div class="card resource-card border-0 shadow text-white" :style="'background-color:'+resource.document_category.colour">
            <div class="p-4 resource-summary text-left">
              <p class="mb-2 resource-title text-title">{{resource.name}}</p>
              <p class="mb-2 text-one" v-if="getTrimmedExcerpt(resource.name, resource.excerpt) !== resource.excerpt">{{getTrimmedExcerpt(resource.name, resource.excerpt)}}</p>
              <p class="mb-2 text-one" v-else>{{resource.excerpt}}</p>
              <p class="download-resource mb-0"><i class="fa fa-download ml-2"></i> Download</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary" @click="$emit('loadmore', true);">Load More</div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mimic-h3 mb-3">Sorry, no resources found</p>
        <p>There were no resources found using the filters you selected, please change your filters and try again.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      resources: Array,
      loadmore: Boolean
    },
    methods: {
      getTrimmedExcerpt(name, excerpt) {
        if (!excerpt) return '';
        
        const maxLength = 185;
        const nameLength = name ? name.length : 0;
        
        if (nameLength + excerpt.length <= maxLength) {
          return excerpt;
        }
        
        const availableLength = maxLength - nameLength;
        if (availableLength <= 3) return '...';
        
        return excerpt.substring(0, availableLength - 3) + '...';
      }
    }
  }
</script>
<style lang="scss">
  .resource-card{
  	min-height: 351px;
  	border-radius: 0;
    p{
      &.download-resource{
		    position: absolute;
		    bottom: 1rem;
		    left: 1rem;
		    line-height: 20px;
		    width: calc(100% - 2rem);
		    font-size: 0.9rem;
		    letter-spacing: 0;
		    padding-left: 45px;
		    padding-bottom: 4px;
        i{
        	font-size: 26px;
			    position: absolute;
			    bottom: 0;
			    left: 0;
        }
      }    
      &.resource-title{
        font-size: 1.2rem;
        line-height: 1.2;
        font-weight: 600;
      }
    }
    .resource-summary{
      min-height: 256px;
    }
  }
  @media only screen and (max-width: 767px){
    .resource-card{
    	min-height: 200px;
      p{
        &.download-resource{
          font-size: 3.5vw;
        }
        &.resource-title{
          font-size: 5vw;
        }
      }
      .resource-summary {
        min-height: 0px;
      }
    }
  }
</style>