.no-webp{
	.home-top{
		background-image: url('/img/home/top.jpg');
	}
	.home-ppi-news{
		background-image: url('/img/home/home-ppi-news.jpg');
	}
}
.webp{
	.home-top{
		background-image: url('/img/home/top.webp');
	}
	.home-ppi-news{
		background-image: url('/img/home/home-ppi-news.webp');
	}
}
.bg{
	@include background();
}
.bg-grad{
	background: rgb(38,92,192);
	background: linear-gradient(0deg, rgba(38,92,192,0.87718837535014) 0%, rgba(38,92,192,1) 100%);
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.bg-left{
	position: absolute;
	left: -200px;
	top: -50px;
}
.bg-half-red-right{
	position: relative;
	&:before{
		content: "";
		background-color: $primary;
		height: calc(100% + 45px);
		width: 50%;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.bg-primary-lower-half{
	position: relative;
	margin-bottom: -24px;
	z-index: 2;
	&:before{
		content: "";
		background-color: $primary;
		height: 282px;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}