// Selected Text -----------------
::selection {
	color: $white;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $white;
	background: $primary; /* Gecko Browsers */
}
// Body Styles -------------------
body{
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: $white;
	color: $darkgrey;
	font-family: $body;
	h1{
		font-family: $title;
		font-weight: 700;
		font-style: normal;
		font-size: 4.5rem;
    line-height: 1.2;
		&.page-title{
			font-size: 11rem;
      letter-spacing: 1px;
      line-height: 0.9;
		}
		&.blog-title{
			text-transform: capitalize;
			font-size: 3.5rem;
		}
		&.case-study-title{
			text-transform: capitalize;
			font-size: 3rem;
		}
	}
	h2{
		font-size: 3rem;
		font-weight: 700;
		font-style: normal;
		font-family: $title;
		&.title-large{
			font-weight: 700;
			font-size: 5rem;
			line-height: 6rem;
		}

	}
	h3{
		font-size: 2.6rem;
		font-weight: 700;
		font-family: $title;
		&.bigger{
			font-size: 2rem;
		}
	}
	h4{
		font-size: 1.8rem;
		font-weight: 500;
		text-transform: uppercase;
		font-family: $title;
	}
	h5{
		font-size: 1.1rem;
		font-family: $title;
	}
	p{
		font-size: 1.1rem;
		&.text-small{
			font-size: 0.9rem;
		}
		&.text-one{
			font-size: 1rem;
		}
		&.text-smallest{
			font-size: 0.7rem;
		}
		&.text-large{
			font-size: 1.4rem;
		}
		&.text-larger{
			font-size: 1.5rem;
		}
		&.letter-spacing{
			letter-spacing: 2px;
		}
		.smaller{
			font-size: 0.8rem;
		}
		&.title{
			font-family: $title;
			text-transform: uppercase;
			line-height: 1;
		}
		&.mimic-h3{
			font-size: 2.3rem;
			line-height: 1.3;
			font-weight: 500;
			font-family: $title;
		}
		&.mimic-h2{
			font-size: 3.15rem;
			line-height: 1.3;
			font-weight: 700;
			font-family: $title;
			text-transform: uppercase;
			button{
				margin-top: -5px;
			}
		}
		&.mimic-h1{
			font-size: 4.5rem;
			line-height: 1.1;
			font-weight: 700;
			font-family: $title;
			text-transform: uppercase;
		}
		.text-smallest{
			font-size: 0.7rem;
		}
		&.line-height-1-3{
			line-height: 1.3;
		}
	}
	.line-height-1-5{
		line-height: 1.5 !important;
	}
	.text-title{
		font-family: $title !important;
	}
	p[data-f-id="pbf"]{
		display: none !important;
	}
	a{
		color: $primary;
		cursor: pointer;

		@include transition(300ms);
		&:hover{
			color: $primary;
			text-decoration: none !important;
		}
		&.text-primary{
			color: $primary;
			&:hover{
				color: $primarylight;
			}
		}
		&.arrow-link{
			position: relative;
			padding-right: calc(133px + 1rem);
			font-family: $title;
			.arrow-right{
				background-image: url('/img/icons/arrow-right-long.svg');
				background-size: contain;
				background-repeat: no-repeat;
				width: 133px;
				height: 18px;
				position: absolute;
				bottom: 3px;
				right: -1rem;
				@include transition(300ms);
			}
			&:hover{
				.arrow-right{
					right: -2rem;
				}
			}
		}
	}
	hr{
		&.line-primary{
			border-top: 2px solid $primary;
		}
	}
	ul{
		list-style: none;
		padding-left: 1.5rem;
		li{
			position: relative;
			margin-bottom: 1rem;
			font-size: 1.1rem;
			padding-left: 10px;
			&:before{
				content: "";
				background-color: $primary;
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				left: -1.3rem;
				top: 14px;
				width: 14px;
				height: 2px;
				border-radius: 0;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}
.card{
	&.bg-primary{
		ul{			
			padding-left: 0;
			li{
				font-weight: 900;
				text-align: center;
				&:before{
					background-color: transparent;
				}
			}
		}
	}
}
.blog-body{
	a{
		color: $primary;
		&:hover{
			color: $primarylight;
		}
	}
}
.text-light-grey{
 color: $lightgreytext !important;
}
.btm-right{
	position: absolute;
	bottom: 0;
	right: 0;
}
.cursor-pointer{
	cursor: pointer;
}
#content{
	z-index: 1;
	@include transition(300ms);
	&.opacity{
		opacity: 0.1;
	}
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}