.btn{
	display: block;
	border-radius: 0;
	font-family: $title;
	border:0 !important;
	display: inline-block;
	position: relative;
	width: auto;
	height: 50px;
	font-size: 1rem;
	font-weight: 600;
	padding: 13px 20px;
	min-width: 214px;
	cursor: pointer;
	@include transition(300ms);
	&.w-100{
		max-width: 100000px;
	}
	&:hover{
		transform: scale(1.02);
	}
	&.btn-icon{
		text-align: left !important;
		i{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1.3rem;
			@include transition(300ms);
			&.custom-icon{
  			width: 1.3rem;
  			height: 1.3rem;
  			top: 22px;
  			background-size: contain;
  			background-repeat: no-repeat;
  		}
		}
		&:hover{
			transform: none !important;
			i{
				right: 10px;
			}
		}
	}
}
.btn-primary{
	background-color: $primary;
	color: $white;
	&:hover{
		background-color: $primary;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-white{
	background-color: $white;
	color: $darkgrey;
	&:hover{
		background-color: $white;
		color: $darkgrey !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $darkgrey;
	}
}
a{
	&.text-link{
		text-transform: uppercase;
		font-family: $title;
		font-size: 21px;
		&.arrow{
			position: relative;
			padding-right: 1rem;
			&:after{
				content: "";
				background-image: url('/img/icons/arrow-right-long.svg');
				position: absolute;
				top: 5px;
				right: -133px;
				width: 133px;
				height: 18px;
				@include transition(300ms);
			}
			&:hover{
				&:after{
					right: -148px;
				}
			}
		}
	}
}
@media only screen and (max-width : 767px) and (hover: none){
	.btn{
    max-width: 220px;
    min-width: 220px;
    padding: 10px 15px;
    height: 50px;
    font-size: 22px;
	}
}