#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.overflow-x-hidden{
	overflow-x: hidden;
	overflow-y: visible;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.top-padding{
	padding-top: 160px;
} 
.card{
	border-radius:5px;
	border: 0;
	@include boxShadow();
}
.full-height{
	height: 100vh;
}
.transition{
	@include transition(300ms);
}
.line{
	height: 4px;
	display: block;
	position: relative;
	span{
		width: 60px;
		height: 4px;
		background-color: $white;
		display: block;
		margin: auto;
	}
	&.line-primary{
		span{
			background-color: $primary;
		}
	}
}
.border-radius-0{
	border-radius: 0 !important;
}
.zoom-link{
	cursor: pointer;
	.zoom-img{
		width: 100%;
		height: 233px;
		max-height: 233px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(1000ms);
		}
	}
	&:hover{
		.zoom-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.modal{
	background-color: rgba(2,105,221, 0.8);
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transgrey;
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.blog-body{
	font-size: 1.1rem;
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	strong{

	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
.mw-100{
	max-width: 100vw !important;
}
#map{
	position: absolute;
	top: 100px;
	right: 0;
	width: 45vw;
	height: calc(100vh - 100px);
}
.shadow{
	@include boxShadow();
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
hr{
	border-top: 1px solid $primary;
}
.testimonial{
	padding-top: 40px;
	p{
		&.testimonial-content{
			font-size: 30px;
			font-weight: 600;
		}
		&.testimonial-name{
			font-size: 30px;
			font-weight: 600;
		}
	}
	&:before{
    content: "";
    background-image: url('/img/graphics/top-corner.svg');
    background-size: contain;
    position: absolute;
    top: -15px;
    left: -15px;
    width: 90px;
    height: 90px;
  }
  &:after{
    content: "";
    background-image: url('/img/graphics/bottom-corner.svg');
    background-size: contain;
    position: absolute;
    bottom: -15px;
    right: -15px;
    width: 90px;
    height: 90px;
  }
}
$homebottomboxheight: 420px;
.home-tile-bg{
	position: relative;
	width: 100%;
	&.zoom-link{
		.zoom-img{
			height: $homebottomboxheight;
			max-height: $homebottomboxheight;
		}
	}
	p{
		&.mimic-h2{
			position: absolute;
			bottom: 1rem;
			left: 2rem;
			display: inline-block;
			line-height: 3.15rem;
			.home-tile-link{
				position: absolute;
				bottom: 0;
				left: calc(100% + 1rem);
				width: fit-content;
				display: inline-block;
				line-height: 23px;
				font-family: $title;
				font-size: 0.9rem !important;
				.arrow-right{
					background-image: url('/img/icons/arrow-right-long.svg');
					background-size: contain;
					background-repeat: no-repeat;
					width: 100px;
					height: 18px;
					position: absolute;
					bottom: 1px;
					right: -115px;
					@include transition(300ms);
				}
			}
		}
	}
	&:hover{
		p.mimic-h2{
			.home-tile-link{
				.arrow-right{
					right: -135px;
				}
			}
		}
	}
}
.home-primary-tile{
	height: $homebottomboxheight;
	position: relative;
	.tile-title{
		position: absolute;
		top: 1.5rem;
		left: 1.5rem;
		display: inline-block;
	}
	.bottom-link{
		position: absolute;
		bottom: 1.5rem;
		left: 1.5rem;
		display: inline-block;
		font-family: $title;
		.arrow-right{
			background-image: url('/img/icons/arrow-right-long.svg');
			background-size: contain;
			background-repeat: no-repeat;
			width: 100px;
			height: 18px;
			position: absolute;
			bottom: 1px;
			right: -115px;
			@include transition(300ms);
		}
	}
	&:hover{
		.bottom-link{
			.arrow-right{
				right: -135px;
			}
		}
	}
}
.post-card{
  border-radius: 0;
  box-shadow: none !important;
  .post-box-info{
    min-height: 250px;
  }
  p.post-box-title{
    font-size: 1.2rem;
  }
  .post-box-read{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: auto;
    display: inline-block;
    .post-box-read-arrow{
      position: absolute;
      right: -40px;
      top: 6px;
    }
  }
  &:hover{
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2) !important;
    .post-box-read{
      .post-box-read-arrow{
        right: -55px;
      }
    }
  }
}
.social-links-circled {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    a {
      padding: 0!important;
      display: block;
      width: 44px;
      height: 44px;
      line-height: 44px;
      border-radius: 24px;
      text-align: center;
      border: 1px solid #333333;
      color: #333333;
      &:hover{
        background: #333333;
        color: #fff;
      }
    }
    &:not(:last-child) {
      margin-right: 5px;
    }
    &:before{
      content: "";
      background-color: transparent;
    }
  }
}