// Variables
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import 'variables';

@font-face {
    font-family: BrandonText;
    font-weight: bold;
    src: url("fonts/BrandonText-Bold.otf") format("opentype");
}

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

// Imports
@import "animations";
@import "fa";
@import "cc";
@import "mixins";
@import "body";
@import "mp";
@import "buttons";
@import "menus";
@import "forms";
@import "classes";
@import "animate";
@import "backgrounds";
@import "media";