<template>
	<div class="container">
		<div class="row post-row">
			<div class="col-lg-4 mob-mb-4" v-for="support in supports">
        <div class="card bg-primary text-white px-0 py-0 overflow-hidden">
  				<picture>
            <source :srcset="support.featuredwebp" type="image/webp"/> 
            <source :srcset="support.featured" :type="support.mimetype"/> 
            <img :src="support.featured" :type="support.mimetype" :alt="support.title" class="lazy w-100 h-auto" width="460" height="322" />
          </picture>
          <div class="p-4">
    				<p class="text-small mb-2"><b>{{niceDate(support.created_at)}}</b></p>
            <p class="text-large mb-2 line-height-1-3 text-title"><b>{{support.title.substring(0,80)}}...</b></p>
            <p class=" mb-3 text-small">{{support.excerpt.substring(0, 125)}}...</p>
            <p class="mb-0"><a :href="'/support/' +moment(support.created_at) +'/'+ support.slug"><b>Read Article</b> <i class="fa fa-angle-double-right"></i></a></p>
          </div>
        </div>
      </div>
		</div>
	</div>
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      supports: [],
      limit: 3,
      page: 1,
      category: "*",
      loadmore: true,
    }
  },
  mounted(){
    this.getSupports();
  },
  methods: {
  	getExtension(d){
      if (d > 3 && d < 21) return 'th';
      switch (d % 10) {
        case 1:  return "st";
        case 2:  return "nd";
        case 3:  return "rd";
        default: return "th";
      }
    },
    niceDate: function (date) {
      var newdate = new Date(date);
      var thedate = newdate.getDate();
      var extension = this.getExtension(thedate);
      var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
      // return moment(date).format('Do MMM YYYY');
    },
    moment: function (date) {
      var newdate = new Date(date);
      var thedate = newdate.getDate();
      var extension = this.getExtension(thedate);
      var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
      // return moment(date).format('Do MMM YYYY');
    },
    changeCategory(val){
      this.category = val;
      this.getSupports();
    },
    loadMore(){
      this.page++;
      this.moreSupports();
    },
    getSupports(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/support/get?limit=' + this.limit + '&page=' + page + '&category=' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.supports = response.data.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>