<template>
  <div class="container-fluid position-relative z-2 mob-mb-0">
    <div class="row">
      <div class="container half_col position-relative z-2 ">
        <div class="search-holder">
          <input type="text" name="search" class="form-control" placeholder="Search..." v-model="search" v-debounce:300ms="getEvents"/>
        </div>
      </div>
    </div>
    <div class="row mt-4 mob-mt-0">
      <div class="loading" v-if="success == false">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Loading Events...</p>
      </div>
      <events-show :events="events" :loadmore="loadmore" @loadmore="loadMore()"></events-show>
    </div>
  </div>  
</template>
<script>
export default {
  props: {
    categories: Array,
  },
  watch:{
    category: function(val){
      this.changeCategory(val);
    },
  },
  data() {
    return {
      search: '',
      errors: {},
      success: false,
      loaded: true,
      events: [],
      limit: 6,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getEvents();
  },
  methods: {
    loadMore(){
      this.page++;
      this.moreEvents();
    },
    moreEvents(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/events/get?limit=' + this.limit + '&page=' + page + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.events.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    getEvents(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/events/get?limit=' + this.limit + '&page=' + page + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.events = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  .search-holder{
    position: relative;
    border: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid #000;
    input{
      border-radius: 0;
      appearance: none;
      padding: 0;
      color: #000;
      font-weight: 300;
      font-size: 20px;
      z-index: 1;
      height: 50px;
      background: none;
      position: relative;
      border: 0;
      &:focus{
        background-color: transparent;
      }
    }
    &:after{
      content: '\f002';
      font-family: 'FontAwesome';
      width: 20px;
      font-size: 20px;
      position: absolute;
      right: 0;
      top: 9px;
      z-index: 0;
    }
  }
  .loading{
    height: 987px;
    width: 100%;
    position:relative;
    .lds-roller{
      position: absolute;
      top: 50px;
      left: calc(50% - 32px);
    }
    .loading-text{
      position: absolute;
      top: calc(50px + 75px);
      left: 0;
      width: 100%;
    }
  }
  .category-change{
    cursor: pointer;
    color: #000;
    p{
      cursor: pointer;
    }
    &.text-white{
      position: relative;
      &:after{
        content: "";
        position: absolute;
        bottom: -75px;
        width: 50px;
        height: 50px;
        background-color: #E30613;
        left: calc(50% - 25px);
        transform: rotate(45deg);
      }
    }
  }
</style>