<template>
  <div class="container pt-3 mob-py-5">
    <div class="row events-row pb-5 mob-py-0" v-if="events.length > 0">
      <div class="col-lg-4 mb-4" v-for="event in events">
        <a :href="'/events/' +moment(event.datetime) +'/'+ event.slug">
          <div class="card transition event-card text-dark px-0 py-0 overflow-hidden">
            <div class="event-box-info p-4">
              <p class="mb-2 event-box-title text-title mb-3"><b>{{event.title.substring(0,80)}}...</b></p>
              <p class="text-uppercase letter-spacing text-primary text-smallest mb-3"><b><i class="fa fa-calendar-o"></i> {{niceDate(event.datetime)}}<br/><i class="fa fa-map-marker"></i> {{event.location}} </b></p>
              <p class="mb-3 text-small">{{event.excerpt.substring(0, 80)}}...</p>
              <p class="mb-0 event-box-read text-primary"><b>Learn More</b> <img src="/img/icons/arrow-red-short.svg" alt="read event arrow" width="27" height="17" class="event-box-read-arrow transition" /></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row events-row py-5" v-else>
      <div class="col-lg-6">
        <p class="mimic-h3 mb-3">Sorry, no events found</p>
        <p>There were no events found using the filters you selected, please change your filters and try again.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      events: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear() + ' ' + newdate.getHours() + ':' + (newdate.getMinutes()<10?'0':'') + newdate.getMinutes();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  .events-row{
    min-height: 522px;
  }
  .event-card{
    border-radius: 0;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2) !important;
    .event-box-info{
      min-height: 320px;
    }
    p.event-box-title{
      font-size: 1.2rem;
    }
    .event-box-read{
      position: absolute;
      bottom: 1.5rem;
      left: 1.5rem;
      width: auto;
      display: inline-block;
      .event-box-read-arrow{
        position: absolute;
        right: -40px;
        top: 6px;
      }
    }
    &:hover{
      .event-box-read{
        .event-box-read-arrow{
          right: -55px;
        }
      }
    }
  }
  @media only screen and (max-width: 767px){
   
  }
</style>