<template>
	<div id="footer-topper" class="container py-5 my-4">
		<div class="row">
			<div class="col-12">
				<p class="text-larger mb-2"><b>Awards and accreditations</b></p>
			</div>
			<div class="col-lg-4">
				<p class="text-small pr-5 mob-pr-0">Queen’s is recognised as one of the UK’s leading research intensive universities and has a global reputation for excellence.</p>
				<p><b><a href="https://www.qub.ac.uk/about/Awards-and-accreditations/" target="_blank" class="text-primary">Find out more</a></b></p>
			</div>
			<div class="col-lg-4">
				<hr class="mt-0" />
				<p class="text-primary mimic-h3 text-capitalize">Top 200</p>
				<p class="mb-2 text-one">Ranked in the top 200 in the world for impact and sustainability</p>
				<p class="text-small text-light-grey"><i>THE Impact Rankings 2024/ QS World University Rankings 2025: Sustainability</i></p>
			</div>
			<div class="col-lg-4">
				<hr class="mt-0" />
				<p class="text-primary mimic-h3 text-capitalize">99%</p>
				<p class="mb-2 text-one">of our research environment is world-leading or internationally excellent.</p>
				<p class="text-small text-light-grey"><i>REF 2021</i></p>
			</div>
			<div class="col-12 mt-5 text-center">
				<img src="/img/logos/footer-logos.png" alt="QUB ranking logos" class="w-100 mx-auto h-auto" width="700" height="116" style="max-width: 700px"/>
			</div>
		</div>
	</div>
</template>
<style lang="scss">
	#footer-topper{
		hr{
			border-color: #666;
		}
	}
</style>