<template>
  <footer class="container-fluid text-center text-lg-left position-relative z-2 mob-pt-4">
    <div class="position-relative row mob-mt-0 mob-pt-3 ipadp-pt-0 ipadp-mt-0">
      <div class="container pb-4">
        <div class="row mt-4 pt-5 ipadp-pt-0  mob-py-0 mob-mt-0">
          <div class="col-lg-4">
            <img src="/img/logos/logo-white-bg.svg" class="footer-logo h-auto mt-2 mb-4 mob-mb-0" width="218" height="78" alt="Queen's University Belfast Logo"/>
          </div>
          <div class="col-lg-8 d-none d-lg-block">
            <div class="d-table w-100 h-100">
              <div class="d-table-cell align-bottom w-100 h-100">
                <p class="text-one text-white"><b>Links</b></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 pr-5 mob-px-5 mob-mt-4 mob-mb-3">
            <p class="text-small text-light-grey">QUB PPI Network,<br/>Research Strategy & Engagement Team,<br/>Research & Enterprise Directorate,<br/>63 University Road,<br/>University Road, Belfast,<br/>Northern Ireland, BT7 1NN</p>
            <p class="text-small"><a href="https://www.qub.ac.uk" target="_blank" aria-label="Queens University Belfast Website">Visit the Queens University Belfast website</a></p>
            <!-- <p class="text-small text-light-grey mb-4">+44 (0)28 9024 5133</p> -->
            <ul class="social-links-circled">
              <li><a class="twitter" href="https://x.com/QUBelfast" aria-label="Footer links - Twitter"><i class="fa-brands fa-x-twitter"></i></a></li>
            </ul>
          </div>  
          <div class="col-lg-8 d-none d-lg-block">
            <div class="row text-center text-lg-left mob-mb-5">
              <div class="col-lg-4">
                <p class="text-small mb-1"><a href="/about">About</a></p>
                <p class="text-small mb-1"><a href="/case-studies">Case Studies</a></p>
                <p class="text-small mb-1"><a href="/resource-hub">Resource Hub</a></p>
                <p class="text-small mb-1"><a href="/support">Support</a></p>
              </div>
              <div class="col-lg-4">
                <p class="text-small mb-1"><a href="/news">PPI News</a></p>
                <p class="text-small mb-1"><a href="/events">Events</a></p>
                <p class="text-small mb-1"><a href="/contact">Contact</a></p>
              </div>
              <div class="col-lg-4">
                <p class="text-small mb-1"><a href="https://www.qub.ac.uk/about/website/privacy-and-cookies/#core-university-websites-964837-1">Privacy Policy</a></p>
                <p class="text-small mb-1"><a href="https://www.qub.ac.uk/about/website/accessibility-statement/">Accessibility Statement</a></p>
                <p class="text-small mb-1"><a href="https://www.qub.ac.uk/directorates/FinanceDirectorate/visitors/FileStore-Visitors/Procurement/Filetoupload,1280962,en.pdf">Modern Slavery Statement</a></p>
                <p class="text-small mb-1"><a href="https://www.qub.ac.uk/directorates/HumanResources/diversity-and-inclusion/">Equality, diversity & inclusion</a></p>
                <p class="text-small mb-0"><a href="https://www.qub.ac.uk/about/Leadership-and-structure/Registrars-Office/Information-Compliance-Unit/Freedom-of-Information/">Freedom of Information</a></p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-8 mt-5 mob-mt-4">
            <p class="text-small text-light-grey mb-0">Queen’s University Belfast is registered with the Charity Commission for Northern Ireland NIC101788.</p>
            <p class="text-small text-light-grey">VAT registration number: GB 254 7995 11 &nbsp; EORI Numbers GB254799511000 &nbsp; XI254799511000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-bottom text-center position-relative z-2 text-white">
      <div class="container py-3">
        <div class="row">
          <div class="col-lg-4 text-center text-lg-left">
            <p class="text-smallest mb-0 mob-mb-2 mob-mt-2">&copy;<span id="year"></span> Queen's University Belfast, All Rights Reserved</p>
          </div>
          <div class="col-lg-8 text-center text-lg-right">
            <p class="text-smallest mb-0"><a href="https://elementseven.co" target="_blank" aria-label="Element Seven Digital Limited" class="text-white" rel="noreferrer">Website by Element Seven</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
    export default {
      mounted(){
        document.getElementById("year").innerHTML = new Date().getFullYear();
      }
    }
</script>
<style lang="scss">
  footer{
    background-color:#2F2F2F;
    a{
      cursor: pointer;
      color: #757575;
      &:hover{
        color: #ffffff;
      }
    }
    p{
      font-size: 1.0rem;
    }
    .footer-social{
      font-size: 25px;
    }
    .footer-logo{
      width:100%;
      max-width: 218px;
    }
    .footer-bottom{
      background-color: #3C3C3C;
    }
    .social-links-circled {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0;
        a {
          padding: 0!important;
          display: block;
          width: 44px;
          height: 44px;
          line-height: 44px;
          border-radius: 24px;
          text-align: center;
          border: 1px solid rgba(255,255,255,.15);
          color: #fff;
          &:hover{
            background: #fff;
            color: #2f2f2f;
          }
        }
        &:not(:last-child) {
          margin-right: 5px;
        }
        &:before{
          content: "";
          background-color: transparent;
        }
      }
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
      footer{
      p{
        &.text-smallest{
          font-size: 16px;
        }
      }
      .mob-line-height{
        font-size: 16px;
        line-height: 2.5;
      }
      .footer-bg{
        left: calc(50% - 410px);
        bottom: 0;
        width: 850px;
      }
    }
  }
  @media only screen and (max-width : 767px){
    footer{
      p{
        &.text-smallest{
          font-size: 3vw;
        }
      }
      .mob-line-height{
        font-size: 3.5vw;
        line-height: 2.5;
      }
    }
  }
</style>