<template>
	<div class="container-fluid position-relative my-4 py-5 mob-py-0 mob-px-4 mob-my-0 bg-primary text-white">
		<div class="row">
			<div class="container">
				<div class="row my-4 py-5 text-left">
					<div class="col-12">
						<p class="mimic-h2 mb-4">Stay up to date</p>
					</div>
					<div class="col-lg-7">
						<mailing-list></mailing-list>
					</div>
					<div class="col-lg-5 pl-5 mob-px-3 mob-mt-3">
						<p class=""><b>Sign up to our mailing list for updates on:</b></p>
						<p class="mob-mb-2">Upcoming PPI events </p>
						<p class="mob-mb-2">PPI news & blog posts </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>