<template>
	<form id="contact-page-form" @submit.prevent="submit" class="row half_row">
		<div class="form-group col-md-6 half_col">
			<input id="title" type="text" class="form-control" name="title" placeholder="Case Study Title*" v-model="fields.title" />
			<div v-if="errors && errors.title" class="text-primary">{{ errors.title[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col">
			<input id="lead" type="text" class="form-control" name="lead" placeholder="Lead" v-model="fields.lead" />
			<div v-if="errors && errors.lead" class="text-primary">{{ errors.lead[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col">
			<input id="contact" type="text" class="form-control" name="contact" placeholder="Contact" v-model="fields.contact" />
			<div v-if="errors && errors.contact" class="text-primary">{{ errors.contact[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col">
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div class="form-group col-12 half_col mb-4">
			<textarea id="short_description" type="text" class="form-control" name="short_description" placeholder="Short Description*" rows="4" v-model="fields.short_description"></textarea>
			<div v-if="errors && errors.short_description" class="text-primary">{{ errors.short_description[0] }}</div>
		</div>
		<div class="col-md-6 half_col text-left">
			<div id="recaptcha-error" class="text-primary text-left"></div>
			<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha"></div>
		</div>
		<div class="col-md-6 half_col">
			<div class="row">
				<div class="col-12 text-left text-lg-right">
					<button id="submit" type="submit"  class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	export default {
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					country: "",
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		mounted(){
			$.getScript("https://www.google.com/recaptcha/api.js");
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {
      	if (this.loaded && grecaptcha.getResponse().length > 0) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Sending";

      		axios.post('/submit-get-involved', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Sent successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	          $('#enquire_modal').modal('hide');
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>