<template>
	<div class="container py-5" :style="bgstyles">
		<div class="row">
			<div class="col-lg-4 pr-5 mob-px-3 cs-height">
				<div class="d-table w-100 h-100">
					<div class="d-table-cell align-middle w-100 h-100">
						<p class="mimic-h2 mob-mb-4">Case <br class="d-none d-lg-inline" />Studies</p>
						<p>Please visit the “Case Studies” section of the website to view effective examples of PPI in research, teaching and education at Queen’s University Belfast.</p>
						<a href="/case-studies">
							<button type="button" class="btn btn-primary d-none d-lg-inline-block">View All Case Studies</button>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-8 home-case-studies-container" v-if="this.casestudies.length != 0">
				<carousel @translated="translated" :items="1" :margin="30" :center="false"  :autoHeight="true" :loop="false" :autoplay="false" :autoWidth="true" :nav="true" :dots="true">
					<div v-for="(cs, key) in casestudies" class="home-case-study p-4" :class="{'bigger cs0' : key == 0, 'cs1' : key == 1, 'cs2' : key == 2}">
						<div class="gradient-bg"></div>
						<a :href="cs.download">
							<div class="home-case-study-text">
								<p class="mimic-h4">{{cs.title}}</p>
								<p class="navigator-link mb-0">Download case study <img src="/img/icons/arrow-right-long.svg" alt="Queen's navigation arrow" class="arrow-right-long"></p>
							</div>
						</a>
					</div>
				</carousel>
			</div>
			<div class="col-12 d-lg-none mt-5 pt-4">
				<a href="/case-studies">
					<button type="button" class="btn btn-primary mt-3
					">View All Case Studies</button>
				</a>
			</div>
		</div> 
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
	  components: { carousel },
	  data() {
			return {
				casestudies: [],
				success: false,
				loaded: false, 
			}
		},
		
	  mounted(){
	  	this.getCaseStudies();
	  },
		methods:{
			getCaseStudies(page = 1) {
     
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/case-studies/get?limit=3&page=' + page + '&search=').then(response => {
          // Empty fields and enable success message
          this.success = true;
          this.casestudies = response.data.data;
          console.log(this.casestudies[0]);
          this.loaded = true;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
	      
	    },
			translated(){
				$('.owl-item .home-case-study').each(function(){
					$(this).removeClass('bigger');
				})
				$('.owl-item.active .home-case-study').first().addClass('bigger');
			}
		},
		computed: {
	    bgstyles() {
	    	if(this.casestudies.length != 0){
	    		return {
		        '--cs-img1': 'url('+this.casestudies[0].normal+')',
		        '--cs-img1-webp': 'url('+this.casestudies[0].normalwebp+')',
		        '--cs-img2': 'url('+this.casestudies[1].normal+')',
		        '--cs-img2-webp': 'url('+this.casestudies[1].normalwebp+')',
		        '--cs-img3': 'url('+this.casestudies[2].normal+')',
		        '--cs-img3-webp': 'url('+this.casestudies[2].normalwebp+')',
		      }
		    }
	    }
	  },
	}
</script>
<style lang="scss">
	.cs-height{
		height: 748px;
	}
	.home-case-studies-container{
		.owl-carousel .owl-stage-outer{
			overflow: visible;
			clip-path: inset( -100vw -100vw -100vw -60px );
		}
		.owl-stage{
			width: calc(367px * 4 + 245px) !important;
		}
		.owl-theme{
			.owl-nav{
		    margin-top: 1rem;
		    margin-bottom: 0;
		    position: absolute;
		    bottom: -4rem;
		    left: calc(50% - 123px);
		    height: 45px;
		    &.disabled{
		    	display: block !important;
		    }
				.owl-prev{
					margin-right: 190px;
					font-size: 0;
					position: relative;
					color:#333333;
					padding: 0;
					width: 19px;
					height: 16px;
					background-color: transparent;
					&:after{
						position: absolute;
						content: "";
						right: 0;
						top: 0;
						background-image: url('/img/icons/chevron-left-dark.svg');
						background-size: contain;
						width: 9px;
						height: 16px;
						background-repeat: no-repeat;
					}
				}
				.owl-next{
					font-size: 0;
					position: relative;
					color:#333333;
					padding: 0;
					width: 19px;
					height: 16px;
					background-color: transparent;
					&:after{
						position: absolute;
						content: "";
						left: 0;
						top: 0;
						background-image: url('/img/icons/chevron-right-dark.svg');
						background-size: contain;
						width: 9px;
						height: 16px;
						background-repeat: no-repeat;
					}
				}
			}
			.owl-dots{
			  width: 206px;
		    position: absolute;
		    bottom: -3.5rem;
		    left: calc(50% - 103px);
		    &.disabled{
		    	display: block !important;
		    }
			  .owl-dot{
					span{
						width: 30px;
				    height: 8px;
				    background: transparent;
				    border-radius: 0;
				    margin: 0px 5px;
				    border-top: 3px solid #333333;
					}
					&.active{
						span{
							border-top: 3px solid #E30613;
						}
					}
				}
			}
		}	
		.home-case-study{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 367px;
			height: 576px;
			margin-top: 44px;
			position: relative;
			-webkit-transition: all 300ms ease;
		  -moz-transition: all 300ms ease ;
		  -o-transition: all 300ms ease;
		  transition: all 300ms ease;
		  a{
		  	position: absolute;
		  	width: 100%;
		  	height: 100%;
		  	top: 0;
		  	left: 0;
		  }
			&.bigger{
				width: 427px;
				height: 670px;
				margin-top: 0;
				.home-case-study-text{
					opacity: 1;
					p{
						&.mimic-h4{
							font-size: 35px;
						}
					}
				}
			}
			&:hover{
				.home-case-study-text{
					.navigator-link{
						img{
							right: -15px;
						}
					}
				}
			}
			.gradient-bg{
				position: absolute;
				height: 35%;
				width: 100%;
				bottom: 0;
				left: 0;
				background: rgb(0,0,0);
				background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8855917366946778) 100%);
			}
			.home-case-study-text{
				position: absolute;
				bottom: 1.5rem;
				left: 1.5rem;
				width: calc(100% - 3rem);
				opacity: 0;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
				p{
					color: #ffffff;
					font-family: 'BrandonText', sans-serif;
					&.mimic-h4{
						font-size: 30px;
						line-height: 1.2;
    				padding-right: 3rem;
						-webkit-transition: all 300ms ease;
					  -moz-transition: all 300ms ease ;
					  -o-transition: all 300ms ease;
					  transition: all 300ms ease;
					}
				}
				.navigator-link{
					position: relative;
					padding-right: 133px;
					img{
						position: absolute;
						width: 133px;
						height: 17px;
						right: 0;
						bottom: 10px;
						-webkit-transition: all 300ms ease;
					  -moz-transition: all 300ms ease ;
					  -o-transition: all 300ms ease;
					  transition: all 300ms ease;
					}
				}
			}
		}
	}
	.no-webp{
		.cs0{
			background-image: var(--cs-img1);
		}
		.cs1{
			background-image: var(--cs-img2);
		}
		.cs2{
			background-image: var(--cs-img3);
		}
	}
	.webp{
		.cs0{
			background-image: var(--cs-img1-webp);
		}
		.cs1{
			background-image: var(--cs-img2-webp);
		}
		.cs2{
			background-image: var(--cs-img3-webp);
		}
	}
	@media only screen and (max-width : 767px){
		.cs-height{
			height: auto;
		}
		.home-tile-bg p.mimic-h2{
			left: 1.5rem;
		}
		.home-case-studies-container{
			.owl-theme .owl-nav {
				left: -10px;
			}
			.owl-theme .owl-dots{
				left: 8px;
			}
		}
		.home-case-studies-container .home-case-study{
			width: 80vw;
    	height: 117vw;
    	margin-top: 0;
    	.home-case-study-text{
    		.navigator-link{
    			font-size: 3.5vw;
    			padding-bottom: 2.5vw;
    		}
    		p.mimic-h4{
    			font-size: 5vw;
    			padding-right: 0;
    		}
    	}
    	&.bigger{
    		width: 80vw;
    		height: 117vw;
    		.home-case-study-text p.mimic-h4{
    			font-size: 5vw;
    			padding-right: 0;
    		}
    	}
		}
	}
</style>