<template>
	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<div class="search-bar-container">
					<input type="text" class="form-control search-bar mb-0 z-2 position-relative" placeholder="Search" />
					<hr class="search-line mt-0" />
				</div>
			</div>
		</div>
	</div>
</template>
<style lang="scss">
	.search-bar-container{
		position: relative;
		input.search-bar{
			border: 0;
			border-radius: 0;
			height: 60px;
			background-color: transparent;
			&:focus{
				background-color: transparent;
			}
		}
		hr.search-line{
			border-top: 2px solid #333333;
		}
		&:after{
			content: "";
			background-image: url('/img/icons/search.svg');
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			right: 0;
			top: 18px;
			width: 24px;
			height: 25px;
			z-index: 0;
		}
	}
</style>