<template>
  <header id="home-header" class="container-fluid position-relative full-height home-top bg">
    <div class="row">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 mob-px-4">
            <div class="d-table w-100 full-height">
              <div class="d-table-cell align-middle w-100 h-100 text-center text-lg-left">
                <h1 class="mb-0">PERSONAL &amp; PUBLIC<br/>INVOLVEMENT NETWORK</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<style lang="scss" scoped>
  #home-header{
    min-height: 600px;
    max-height: 700px;
    .header-img{
      position: absolute;
      top: 100px;
      left: 50%;
    }
    .full-height{
      min-height: 600px;
      max-height: 700px;
      margin-top: 53px;
      height: 100%;
    }
    h1{
      position:relative;
      color: #fff;
      &:before{
        content: "";
        position: absolute;
        top: -99px;
        left: -99px;
        width: 110px;
        height: 110px;
        background-image: url('/img/graphics/top-corner.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:after{
        content: "";
        position: absolute;
        bottom: -99px;
        right: -99px;
        width: 110px;
        height: 110px;
        background-image: url('/img/graphics/bottom-corner.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
   
  }
  @media only screen 
  and (max-width : 767px){
    #home-header{
      min-height: 520px;
      max-height: 520px;
      .header-img{
        top: 0;
        height: 100% !important;
        width: auto;
        opacity: 0.8;
      }
      .full-height{
        min-height: 520px;
        max-height: 520px;
        margin-top: 56px;
        height: 100%;
      }
      h1{
        margin-top: -50px;
        &:before{
          top: -35px;
          left: -10px;
          width: 70px;
          height: 70px;
        }
        &:after{
          bottom: -35px;
          right: -10px;
          width: 70px;
          height: 70px;
        }
      }
    }
  }
  @media only screen 
  and (max-width : 320px){

  }
</style>