<template>
	<div class="container link-boxes-container">
		<div class="row d-none d-lg-flex">
			<div class="col-lg-3">
				<a :href="link1.link">
					<div class="link-card bg-white shadow p-4 link-bg-1">
						<p class="mimic-h4" v-html="link1.title"></p>
						<p class="mb-0 text-primary bottom-text">View <img src="/img/icons/arrow-red-short.svg" class="arrow-right" width="30" height="20"/></p>
					</div>
				</a>
			</div>
			<div class="col-lg-3">
				<a :href="link2.link">
					<div class="link-card bg-white shadow p-4 link-bg-2">
						<p class="mimic-h4" v-html="link2.title"></p>
						<p class="mb-0 text-primary bottom-text">View <img src="/img/icons/arrow-red-short.svg" class="arrow-right" width="30" height="20"/></p>
					</div>
				</a>
			</div>
			<div class="col-lg-3">
				<a :href="link3.link">
					<div class="link-card bg-white shadow p-4 link-bg-3">
						<p class="mimic-h4" v-html="link3.title"></p>
						<p class="mb-0 text-primary bottom-text">View <img src="/img/icons/arrow-red-short.svg" class="arrow-right" width="30" height="20"/></p>
					</div>
				</a>
			</div>
			<div class="col-lg-3">
				<a :href="link4.link">
					<div class="link-card bg-white shadow p-4 link-bg-4">
						<p class="mimic-h4" v-html="link4.title"></p>
						<p class="mb-0 text-primary bottom-text">View <img src="/img/icons/arrow-red-short.svg" class="arrow-right" width="30" height="20"/></p>
					</div>
				</a>
			</div>
		</div>
		<div class="row d-lg-none">
			<div class="col-12 pr-0">
				<carousel :items="4" :margin="15" :center="false"  :autoHeight="true" :loop="true" :autoplay="true" :autoplayTimeout="7000" :autoWidth="true" :nav="true" :dots="true">
					<div class="d-block">
						<a :href="link1.link">
							<div class="link-card bg-white shadow p-4 link-bg-1">
								<p class="mimic-h4" v-html="link1.title"></p>
								<p class="mb-0 text-primary bottom-text">View <img src="/img/icons/arrow-red-short.svg" class="arrow-right" width="30" height="20"/></p>
							</div>
						</a>
					</div>
					<div class="d-block">
						<a :href="link2.link">
							<div class="link-card bg-white shadow p-4 link-bg-2">
								<p class="mimic-h4" v-html="link2.title"></p>
								<p class="mb-0 text-primary bottom-text">View <img src="/img/icons/arrow-red-short.svg" class="arrow-right" width="30" height="20"/></p>
							</div>
						</a>
					</div>
					<div class="d-block">
						<a :href="link3.link">
							<div class="link-card bg-white shadow p-4 link-bg-3">
								<p class="mimic-h4" v-html="link3.title"></p>
								<p class="mb-0 text-primary bottom-text">View <img src="/img/icons/arrow-red-short.svg" class="arrow-right" width="30" height="20"/></p>
							</div>
						</a>
					</div>
					<div class="d-block">
						<a :href="link4.link">
							<div class="link-card bg-white shadow p-4 link-bg-4">
								<p class="mimic-h4" v-html="link4.title"></p>
								<p class="mb-0 text-primary bottom-text">View <img src="/img/icons/arrow-red-short.svg" class="arrow-right" width="30" height="20"/></p>
							</div>
						</a>
					</div>
				</carousel>
			</div>
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
	  components: { carousel },
	  data() {
			return {
				link1: {
					link: '/case-studies',
					title: 'Case Studies',
					text: 'Choosing to study at Queen’s could be one of the best decisions you make. We’re a Russell Group university that prioritises academic excellence.'
				},
				link2: {
					link: '/resource-hub',
					title: 'Resource Hub',
					text: 'Choosing to study at Queen’s could be one of the best decisions you make. We’re a Russell Group university that prioritises academic excellence.'
				},
				link3: {
					link: '/news',
					title: 'PPI<br/>News',
					text: 'Choosing to study at Queen’s could be one of the best decisions you make. We’re a Russell Group university that prioritises academic excellence.'
				},
				link4: {
					link: '/events',
					title: 'PPI<br/>Events',
					text: 'Choosing to study at Queen’s could be one of the best decisions you make. We’re a Russell Group university that prioritises academic excellence.'
				},
				success: false,
				loaded: true,
			}
		},
	}
</script>
<style lang="scss">
	.webp{
		.link-bg-1{
			background-image: url('/img/home/case-studies-tile.webp');
		}
		.link-bg-2{
			background-image: url('/img/home/resource-hub-tile.webp');
		}
		.link-bg-3{
			background-image: url('/img/home/ppi-news-tile.webp');
		}
		.link-bg-4{
			background-image: url('/img/home/events-tile.webp');
		}
	}
	.no-webp{
		.link-bg-1{
			background-image: url('/img/home/case-studies-tile.jpg');
		}
		.link-bg-2{
			background-image: url('/img/home/resource-hub-tile.jpg');
		}
		.link-bg-3{
			background-image: url('/img/home/ppi-news-tile.jpg');
		}
		.link-bg-4{
			background-image: url('/img/home/events-tile.jpg');
		}
	}
	.link-boxes-container{
		.owl-carousel .owl-stage-outer{
			overflow: visible;
		}
	}
	.link-card{
		height: 285px;
    width: 255px;
    max-width: 100%;
    padding-top: 146px !important;
    padding-left: 20px !important;
		position:relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		&:before{
			content: "";
	    position: absolute;
			top: 10px;
	    left: 10px;
	    width: 65px;
	    height: 65px;
	    background-image: url(/img/graphics/top-corner.svg);
	    background-size: contain;
	    background-repeat: no-repeat;
		}
		p.mimic-h4{
			font-size: 40px;
			font-weight: 900;
			line-height: 40px;
			color: #ffffff;
			margin-bottom: 13px;
			font-family: 'BrandonText', sans-serif;
		}
		.bottom-text{
			font-weight: 600;
			img.arrow-right{
		    bottom: 3px;
		    width: 24px;
		    left: 51px;
		    display: inline-block;
		    position: absolute;
				-webkit-transition: all 200ms ease;
			  -moz-transition: all 200ms ease ;
			  -o-transition: all 200ms ease;
			  transition: all 200ms ease;
			}
		}
		
		p{
			z-index: 2;
			position:relative;
		}
		&:hover{
			.bottom-text{
				img.arrow-right{
					left: 58px;
				}
			}
		}
	}
</style>