@media only screen and (max-width : 767px){
	body {
		h1{
			font-size: 10vw;
			font-weight: 700;
    	line-height: 1.2;
			&.page-top{
		    font-size: 10vw;
		    line-height: 1.2;
			}
			&.blog-title{
				font-size: 10vw;
			}
			&.page-title{
				font-size: 18vw;
			}
			&.case-study-title{
				font-size: 9vw;
			}
		}
		h2 {
	    font-size: 10vw;
	    line-height: 1.2;
		}
		h3{	
	    font-size: 5.5vw;
	    line-height: 1.2;
	    &.mob-text-large{
	    	font-size:8.5vw;
	    }
		}
		h4{
			font-size: 5.5vw;
		}
		p{
			font-size: 4vw;
			line-height: 1.6;
			&.mimic-h1{
				font-size: 14vw;
    		line-height: 0.9;
			}
			&.mimic-h2{
				font-size: 9vw;
			}
			&.mimic-h3{
				font-size: 8vw;
				&.mob-smaller{
					font-size: 6vw;
				}
			}
			&.text-small{
				font-size: 3.5vw;
			}
			&.text-larger{
				font-size: 4.8vw;
			}
			&.text-large {
		    font-size: 4.7vw;
			}
			&.text-smallest{
				font-size: 2.5vw;
			}
      
		}
	}
	.mob-shadow{
		@include menuBoxShadow();
	}
	.top-padding {
		padding-top: 96px;
	}
	.form-control{
		font-size: 16px;
	}
	.bg-fixed{
		background-attachment: initial;
	}
	.mob-overflow-hidden{
		overflow: hidden;
	}
	.mob-bg-cover{
		background-size: cover !important;
	}
	.mob-p-0{
		padding: 0 !important;
	}
	.mob-p-3{
		padding: 1rem !important;
	}
	.mob-p-4{
		padding: 1.5rem !important;
	}
	.mob-pl-0{
		padding-left: 0 !important;
	}
	.mob-pl-3{
		padding-left: 1rem !important;
	}
	.mob-pl-4{
		padding-left: 1.5rem !important;
	}
	.mob-pl-5{
		padding-left: 3rem !important;
	}
	.mob-pl-7{
		padding-left: 7rem !important;
	}
	.mob-px-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mob-px-1{
		padding-left: 0.75rem !important;
		padding-right: 0.75rem !important;
	}
	.mob-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-px-4{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
	}
	.mob-px-5{
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}
	.mob-pr-1{
		padding-right: 1rem !important;
	}
	.mob-pr-3{
		padding-right: 1rem !important;
	}
	.mob-pr-4{
		padding-right: 1.5rem !important;
	}
	.mob-pr-5{
		padding-right: 3rem !important;
	}
	.mob-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.mob-py-1{
		padding-top: 0.35rem !important;
		padding-bottom: 0.35rem !important;
	}
	.mob-py-2{
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;
	}
	.mob-py-3{
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.mob-py-4{
		padding-top: 1.5rem !important;
		padding-bottom: 1.5rem !important;
	}
	.mob-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.mob-pb-0{
		padding-bottom: 0 !important;
	}
	.mob-pb-5{
		padding-bottom: 3rem !important;
	}
	.mob-pt-0{
		padding-top: 0 !important;
	}
	.mob-pt-3{
		padding-top: 1rem !important;
	}
	.mob-pt-4{
		padding-top: 1.5rem !important;
	}
	.mob-pt-5{
		padding-top: 3rem !important;
	}
	.mob-pb-3{
		padding-bottom: 1rem !important;
	}
	.mob-pb-4{
		padding-bottom: 1.5rem !important;
	}
	.mob-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.mob-mx-0{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mob-my-0{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.mob-my-3{
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
	}
	.mob-my-4{
		margin-top: 2rem !important;
		margin-bottom: 2rem !important;
	}
	.mob-my-5{
		margin-top: 3rem !important;
		margin-bottom: 3rem !important;
	}
	.mob-mb-0{
		margin-bottom: 0 !important;
	}
	.mob-mb-1{
		margin-bottom: 0.5rem !important;
	}
	.mob-mb-2{
		margin-bottom: 0.75rem !important;
	}
	.mob-mb-3{
		margin-bottom: 1rem !important;
	}
	.mob-mb-4{
		margin-bottom: 1.5rem !important;
	}
	.mob-mb-5{
		margin-bottom: 3rem !important;
	}
	.mob-mt-0{
		margin-top: 0 !important;
	}
	.mob-mt-2{
		margin-top: 0.5rem !important;
	}
	.mob-mt-3{
		margin-top: 1rem !important;
	}
	.mob-mt-4{
		margin-top: 2.3rem !important;
	}
	.mob-mt-5{
		margin-top: 3rem !important;
	}
	.mob-m-auto{
		margin: auto !important;
	}
	.mob-float-left{
		float: left !important;
	}
	.mob-float-none{
		float: none !important;
	}
	.mob-height-auto{
		height: auto !important;
	}
	.mob-btn-full{
		width: 100% !important;
		max-width: 100% !important;
	}
	.mob-text-center{
		text-align: center !important;
	}
	.btn-inline{
		max-width: 115px;
	}
	.line{
		&.mob-line-center{
			span{
				float: none !important;
				margin: auto !important;
			}
		}
	}
  input.form-control{
		height: 50px;
	}
	.btn{
    max-width: 220px;
    min-width: 220px;
    padding: 13px 15px;
    height: 50px;
    font-size: 16px;
    &.btn-icon{
    	i{
    		font-size: 18px;
    		top: 17px !important;
    	}
			&:hover,
			&:focus{
				i{
	    		font-size: 18px;
	    		top: 17px !important;
	    	}
			}
    }
	}
	.mt-minus{
		margin-top: -120px;
	}
  .btn{
  	&.btn-primary{
  		&:hover{
  			color: #fff !important;
		    background-color: $primary !important;
		    border-color: $primary !important;
  		}
  	}
  }
  .case-studies-blub{
    position: absolute;
    top: -70px;
    left: 0;
    opacity: 0.3;
    margin-top: 0 !important;
  }
  .btm-right{
  	position: relative;
  	bottom: auto;
  	right: auto;
  }
  .home-primary-tile{
  	height: auto;
  	padding: 1.5rem 0;
  	.bottom-link{
  		position: relative;
  		bottom: auto;
  		left: auto;
  		padding-left: 1.5rem;
  	}
  	.tile-title{
  		position: relative;
  		top: auto;
  		left: auto;
  		padding-left: 1.5rem;
  	}
  }
  .home-tile-bg{
  	&.zoom-link{
  		.zoom-img{
  			height: 270px;
  			&:after{
  				content: "";
  				position: absolute;
  				z-index: 1;
  				width: 100%;
  				height: 100%;
  				top: 0;
  				left: 0;
  				background-color: rgba(0,0,0,0.5);
  			}
  			img{
  				height: auto;
  				top: auto;
  				bottom: 0;
	  			left: -100px;
	 				width: 800px;
	 				z-index: 0;
  			}
  		}
  	}
  	p.mimic-h2{
    	z-index: 2;
	  	padding-bottom: 25px;
	  	.home-tile-link{
	  		bottom: 0;
    		left: 0;
    		margin-left: 0 !important;
	  	}
	  }
  }
}