<template>
	<div>
		<div id="mobile-menu-bar" class="top-on d-lg-none">
			<a href="/">
				<img src="/img/logos/logo-white.svg" class="mob_menu_logo mt-2 mob-mt-0" alt="Queen's University Belfast Logo" width="276" height="64" />
	    </a>
	    <div id="menu_btn" class="menu_btn d-lg-none"><div class="nav-icon"><span></span><span></span><span></span></div></div>
	  </div>
		<div class="mobile-menu-holder d-lg-none">
			<div id="mobile-menu" class="mobile-menu">
			  <div class="container-fluid px-3">
			   	<div class="row">
				    <div class="col-12 text-left pt-5">
				      <div class="menu-links d-block pt-5">
				      	<p class="mb-0"><a href="/" class="menu-item">Home</a></p>
				      	<p class="mb-0"><a href="/about" class="menu-item">About</a></p>
				      	<p class="mb-0"><a href="/case-studies" class="menu-item">Case Studies</a></p>
				      	<p class="mb-0"><a href="/resource-hub" class="menu-item">Resource Hub</a></p>
				      	<p class="mb-0"><a href="/events" class="menu-item">Events</a></p>
				        <p class="mb-0"><a href="/news" class="menu-item">PPI News</a></p>
				        <p class="mb-0"><a href="/support" class="menu-item">Support</a></p>
				        <p class="mb-0"><a href="/contact" class="menu-item mb-0">Contact</a></p>
				        <hr class="my-4" />
            		<p class="mb-4"><a href="mailto:ppihub@qub.ac.uk" class="text-primary"><u>ppihub@qub.ac.uk</u></a></p>
				        <ul class="social-links-circled">
		              <li><a class="twitter" href="https://x.com/QUBelfast" aria-label="Footer links - Twitter"><i class="fa-brands fa-x-twitter"></i></a></li>
		            </ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
      pagetype: String
    },
		mounted(){
			$('#menu-trigger').each(function(index, element){
        var inview = new Waypoint({
          element: element,
          handler: function (direction) {
            if(direction === "down"){
              $('#mobile-menu-bar').removeClass('top-on');
            }else{
              $('#mobile-menu-bar').addClass('top-on');
            }
          },offset: '0%'
        });
      });
      // Initial state
			var scrollPos = 0;
			// adding scroll event
			window.addEventListener('scroll', function(){
			  // detects new state and compares it with the new one
			  if ((document.body.getBoundingClientRect()).top > scrollPos){
					$('#mobile-menu-bar').addClass('on');
			  }
				else{
					$('#mobile-menu-bar').removeClass('on');
				}
				// saves the new position for iteration.
				scrollPos = (document.body.getBoundingClientRect()).top;
			});
			$('#menu_btn').click(function(){
				$("#menu_btn .nav-icon").toggleClass('nav_open');
				$("#mobile-menu").toggleClass("on");
				$("#menu").toggleClass("on");
				$("#menu_body_hide").toggleClass("on");
				$("#content").toggleClass("opacity");
				$(".menu").each(function(){
					$(this).toggleClass("opacity");
				});
				$('#mobile-menu-bar').toggleClass('menu-open');
			});
		}
	}
</script>
<style lang="scss">
	$title: 'BrandonText', sans-serif;
	$body: 'Open Sans', sans-serif;
	.close-menu{
		cursor: pointer;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		max-width: 20px;
		&:hover{
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
		}
	}

	#menu_body_hide{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #2E2D2C;
		display: table;
		opacity: 0;
		z-index: -1;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		&.on{
			opacity: 0.8;
			z-index: 220;
		}
	}
	.mobile-menu-holder{
		position: fixed;
		top: 0;
		right: -150vw;
		z-index: 900;
	}
	#mobile-menu-bar{
		background-color: #e30613;
		width: 100%;
		height: 56px;
		position: fixed;
		top: -70px;
		left: 0;
		color: #fff;
		z-index: 1000;
		-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  &.top-on{
	  	top:0 !important;
	  }
	  &.on{
	  	top:0;
	  }
	  &.menu-open{
	  	top:0 !important;
	  }
	  .mob_menu_logo{
	    position: absolute;
	    top: -3px;
	    left: 7px;
	    z-index: 99;
	    width: 116px;
		}
		.mob-top-login{
			position: absolute;
	    top: 19px;
	    right: 72px;
	    z-index: 99;
	    font-size: 20px;
	    color: #fff;
		}
	}
	.mobile-menu{
		position: fixed;
		top: 0;
		right: -150vw;
		overflow: hidden;
		width: 320px;
		height: 100vh;
		background-color: #ffffff;
		color: #1D252D;
		padding-left: 1rem;
		z-index: 900;
		-webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  .menu-big-ball{
	    position: absolute;
	    bottom: -130px;
	    right: -320px;
	    width: 590px;
	    height: 590px;
	    z-index: 0;
	    opacity: 0.3;
	  }
	  .social-links-circled {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0;
        a {
          padding: 0!important;
          display: block;
          width: 44px;
          height: 44px;
          color: #2E2D2C;
          line-height: 44px;
          border-radius: 24px;
          text-align: center;
          border: 1px solid #2E2D2C;
        }
        &:not(:last-child) {
          margin-right: 5px;
        }
        &:before{
          content: "";
          background-color: transparent;
        }
      }
    }
	  .menu-dropdown-holder{
      .menu-dropdown-trigger{

      }
      .menu-dropdown{
        position: absolute;
        top: 5rem;
        left: 1000px;
        width: calc(100% + 3rem);
        height: calc(100vh - 5rem);
        background-color: #1D252D;
        text-align: left;
        padding: 1rem;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease ;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
        -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
        box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4)  !important;
        a{
          color: #2E2D2C;
          font-size: 4vw;
          cursor: pointer;
          font-family: $title;
          font-weight: 700;
          display: inline-block;
          margin-bottom: 0.5rem;
          &:hover{
            color: #4D71A5;
          }
        }
        &.active{
          left: 0;
        }
      } 
    }
		.menu-links{
			.menu-item{
				position:relative;
				display: block;
				cursor: pointer;
				color: #1D252D;
				font-weight: 400;
				font-size: 20px;
				margin-bottom: 0.75rem;
				display: inline-block;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
				a{
					color: #2E2D2C;
					&:hover{
						color: #2E2D2C;
					}
				}
				i{
					font-size: 1.2rem;
					margin-left: 10px;
				}
				.menu-item-expand{
					position: absolute;
			    right: -6vw;
			    top: 1vw;
			    width: 5vw;
				}
			}
		}
		&.on{
			right: 0;
		}
	}
	#menu_btn,
	.menu_btn{
		position: absolute;
	  top: 1.2rem;
	  right: 1rem;
		z-index: 1100;
		cursor: pointer;
		display: inline-block;
	  width: 30px;
	  height: 30px;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		.nav-icon {
			width: 30px;
			height: 30px;
			position: relative;
			z-index: 110;
			cursor: pointer;
			-webkit-transition: all 300ms ease;
		  -moz-transition: all 300ms ease ;
		  -o-transition: all 300ms ease;
		  transition: all 300ms ease;
			span {
				display: block;
				position: absolute;
				border-radius: 0px;
				height: 3px;
				width: 100%;
				background: #fff;
				opacity: 1;
				right: 0;
				cursor: pointer;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			}
			span:nth-child(1) {
				top: 0px;
			}
			span:nth-child(2) {
				top: 8px; 
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			}
			span:nth-child(3) {
				top: 16px; 
				width: 60%;
			}
			&.nav_open{
				span {
					border-radius: 10px;
					background: #fff;
				}
				span:nth-child(1) {
					top: 9px !important;
					-webkit-transform: rotate(135deg) !important;
					-moz-transform: rotate(135deg) !important;
					-o-transform: rotate(135deg) !important;
					transform: rotate(135deg) !important; 
				}
				span:nth-child(2) {
					opacity: 0 !important;
					left: 20vw !important; 
				}
				span:nth-child(3) {
					width: 100%;
					top: 9px !important;
					-webkit-transform: rotate(-135deg) !important;
					-moz-transform: rotate(-135deg) !important;
					-o-transform: rotate(-135deg) !important;
					transform: rotate(-135deg) !important; 
				}
			}
		}
		&:hover{
			.nav-icon{
				span:nth-child(3) {
					width: 100%;
				}
			}
		}
		&.on{
			background-color: #e83e8c;
		}
		&.dark{
			.nav-icon {
				span {
					background: #F6CF3C;
				}
			}
		}
	}
	@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    .mobile-menu .menu-dropdown-holder .menu-dropdown a{
    	font-size: 1.1rem;
    }
  }
	@media only screen and (max-width : 767px){
		.mobile-menu .menu-links .menu-item{
			font-size: 4.5vw;
		}
	}
</style>