<template>
	<div>
		<div id="main-menu" class="menu d-none d-lg-block top-on">
      <div class="container-fluid px-5 mob-px-3 ipadp-px-3">
        <div class="row">
          <div class="col-lg-2 py-3 page-home-pt-0">
            <a href="/">
              <img src="/img/logos/logo-white.svg" class="menu_logo mt-2 mob-mt-0" alt="Queen's University Belfast Logo" width="276" height="64" />
            </a>
          </div>
          <div class="col-lg-10 text-right d-none d-lg-block mt-5 pt-2">
            <div class="menu-links d-inline-block ">
              <a href="/members/private-blog" class="menu-item  cursor-pointer">Private Blog</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/about" class="menu-item cursor-pointer">About</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/case-studies" class="menu-item  cursor-pointer">Case Studies</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/resource-hub" class="menu-item  cursor-pointer">Resource Hub</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/events" class="menu-item  cursor-pointer">Events</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/news" class="menu-item  cursor-pointer">PPI News</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/members/account" class="menu-item  cursor-pointer">Account</a>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-topper d-none d-lg-block">
        <a href="/logout">
          <div class="login-btn text-uppercase"><b>Logout</b> <i class="fa fa-user ml-2"></i></div>
        </a>
        <a href="https://www.facebook.com/QUBelfast/" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook ml-3"></i></a>
        <a href="https://twitter.com/QUBelfast" aria-label="Twitter" rel="noreferrer"><i class="fa fa-twitter ml-3 pl-2"></i></a>
        <a href="https://www.instagram.com/qubelfast/" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3 pl-2"></i></a>
        <a href="https://www.youtube.com/user/Come2Queens" aria-label="Youtube" rel="noreferrer"><i class="fa fa-youtube-play ml-3 pl-2"></i></a>
      </div>
    </div>
		<div id="scroll-menu" class="menu d-none d-lg-block">
      <div class="container-fluid px-5">
        <div class="row">
          <div class="col-lg-2 py-3">
            <a href="/">
              <img src="/img/logos/logo-white.svg" class="menu_logo" alt="Queen's University Belfast Logo" width="276" height="64" />
            </a>
          </div>
          <div class="col-lg-10 text-right d-none d-lg-block mt-5 pt-2">
            <div class="menu-links d-inline-block ">
              <a href="/members/private-blog" class="menu-item  cursor-pointer">Private Blog</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/about" class="menu-item cursor-pointer">About</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/case-studies" class="menu-item  cursor-pointer">Case Studies</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/resource-hub" class="menu-item  cursor-pointer">Resource Hub</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/events" class="menu-item  cursor-pointer">Events</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/news" class="menu-item  cursor-pointer">PPI News</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/members/account" class="menu-item  cursor-pointer">Account</a>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-topper">
        <a href="/logout">
          <div class="login-btn text-uppercase"><b>Logout</b> <i class="fa fa-user ml-2"></i></div>
        </a>
        <a href="https://www.facebook.com/QUBelfast/" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook ml-3"></i></a>
        <a href="https://twitter.com/QUBelfast" aria-label="Twitter" rel="noreferrer"><i class="fa fa-twitter ml-3 pl-2"></i></a>
        <a href="https://www.instagram.com/qubelfast/" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3 pl-2"></i></a>
        <a href="https://www.youtube.com/user/Come2Queens" aria-label="Youtube" rel="noreferrer"><i class="fa fa-youtube-play ml-3 pl-2"></i></a>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:{
      pagetype: String
    },
    mounted(){
      $(document).ready(function(){
        var inview = new Waypoint({
          element: $('#menu-trigger'),
          handler: function (direction) {
            if(direction === "down"){
              $('#main-menu').removeClass('top-on');
            }
          },offset: '1%'
        });
        var inview2 = new Waypoint({
          element: $('#menu-trigger-2'),
          handler: function (direction) {
            if(direction === "up"){
              $('#main-menu').addClass('top-on');
            }
          },offset: '1%'
        });
        // Initial state
        var scrollPos = 0;
        // adding scroll event
        window.addEventListener('scroll', function(){
          // detects new state and compares it with the new one
          if ((document.body.getBoundingClientRect()).top > scrollPos){
            $('#main-menu').addClass('on');
          }
          else{
            $('#main-menu').removeClass('on');
          }
          // saves the new position for iteration.
          scrollPos = (document.body.getBoundingClientRect()).top;
        });
        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy"
        });
        $(".scroll-btn").click(function(){
          $('html,body').animate({
             scrollTop: $(".scrollTo").offset().top
          });
        });
      });
    }
  }
</script>
<style lang="scss">
$primary: #E30613; 
$primarydark: #D30018;
$darkgrey: #040F17;
$white: #fff;
$title: 'BrandonText', sans-serif;
$body: 'Open Sans', sans-serif;
@mixin menuBoxShadow(){
  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
}
.menu-holder{
  position: relative;
  z-index: 100;
}
#menu-trigger{
  position: absolute;
  top: 110vh;
  left: 0;
  width: 1px;
  height: 1px;
}
#main-menu-top{
  z-index: 250;
}
#main-menu{
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
}
.menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  .menu_logo{
    width: 220px;
    &.menu_logo_normal{
      width: 220px;
    }
  }
  .menu-topper{
    position: absolute;
    right: 0;
    top: 0;
    min-width: 360px;
    background-color: $primarydark;
    .login-btn{
      width: 145px;
      text-align: center;
      padding: 0.5rem 0;
      background-color: $white;
      color: $primary;
      margin-right: 1rem;
      display: inline-block;
    }
  }
  .menu-links{
    .menu-item{
      display: inline-block;
      margin-left: 2.5rem;
      cursor: pointer;
      color: $white;
      font-family: $body;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1rem;
      font-family: $title;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      a{
        color: $white;
        &:hover{
          color: $white;
          text-decoration: underline;
        }
      }
      i{
        font-size: 1.2rem;
        margin-left: 10px;
      }
      &:hover,
      &.active{
        color: $white;
      }
    }
  }
  .menu-top-links{
    .menu-links{
      .menu-item{
        font-size: 0.8rem;
      }
    }
  }
  &.opacity{
    opacity: 0;
  }
}
#scroll-menu{
  background-color: $primary;
  position: fixed;
  top: -500px;
  left: 0;
  z-index: 200;
  width: 100%;
  box-shadow: 0rem 0rem 1rem rgba(0, 130, 184, 0.1) !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  .menu-links{
    .menu-item{
      color: $white;
    }
  }
  .menu_logo{
    width: 170px;
  }
  &.on{
    top: 0;
  }
}
@media only screen and (max-width : 1230px){
  .menu .menu-links .menu-item{
    margin-left: 1.5rem;
    font-size: 0.8rem;
  }
}
// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #scroll-menu,
  .menu{
    .menu-links{
      .menu-item{
        &:hover{
          box-shadow: none;
        }
      }
    }
    .menu_logo {
      width: 140px;
      margin-top: 15px !important;
    }
  }
  #menu_btn{
    display: block;
  }
}
@media only screen and (max-width : 767px){
  .menu .menu_logo {
    width: 170px;
  }
}
</style>